@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 0;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(keren.gif);
    background-attachment: fixed;
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: cover;
}

body.dark .wave {
    display: none !important;
}

body.dark .waveWrapperInner {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(keren.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}

@media (max-width: 942px) {
    body.dark .waveWrapperInner {
        background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(keren.gif);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 100%;
        bottom: -1px;
    }


    body.dark .wave {
        display: none !important;
    }
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/*TIMELINE*/

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

.h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    text-align: left;
    color: #010718 !important;
    background-color: #f4a261;
    width: fit-content;
}

.p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: left;

}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

body.dark .container {

    background-color: #14242c !important;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, .7);
    border-left: 2px solid rgba(0, 0, 0, .3);
}

.timeline-item p {
    font-size: 1rem;
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
}
body.dark .timeline-item::before {
    content: attr(date-is);
    color: #f2f2f2;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, .3);
    background: white;
}

.timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

/*Galleery*/
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 2px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}


.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

#hero-btn4 {
    display: inline-block;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    padding: 11px 34px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    align-items: flex-end;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    margin-left: -90px;
    left: 50%;
    border: 1px solid #010718;
}
body.dark #hero-btn4 {
   color: #f2f2f2;
   border: 1px solid #f2f2f2;
}
#hero-btn4:hover {
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: #fff;
    transition: 0.5s;
    border-radius: 30px;
}

.tgallery {
    display: flex;
    text-align: center;

}